# Optimize The Model

Using your knowledge of TensorFlow, optimize your model to achieve a target predictive accuracy higher than 75%.

Use any or all of the following methods to optimize your model:

Adjust the input data to ensure that no variables or outliers are causing confusion in the model, such as:
Dropping more or fewer columns.
Creating more bins for rare occurrences in columns.
Increasing or decreasing the number of values for each bin.
Add more neurons to a hidden layer.
Add more hidden layers.
Use different activation functions for the hidden layers.
Add or reduce the number of epochs to the training regimen.

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(["EIN","NAME"],axis=1)

application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()

application_type_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_type_counts[application_type_counts < 1000].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()

classification_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts[classification_counts>1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts < 500].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: count, dtype: int64

In [9]:
#check DataFrame to make sure EIN and NAME are not there anymore, 
#plus the APPLICATION_TYPE AND CLASSIFICATION columns have cutoff values
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,Other,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
application_dummies_df = pd.get_dummies(application_df).astype(int)
application_dummies_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,AFFILIATION_CompanySponsored,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,1,0,0,0,1,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [11]:
# Split our preprocessed data into our features and target arrays
X = application_dummies_df.drop(["IS_SUCCESSFUL"], axis='columns').values
y = application_dummies_df["IS_SUCCESSFUL"].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

***
# 1st Try Model

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
# 1st model: layer1 -> 10, layer2 -> 20
input_features = len(X_train_scaled[0])
hidden_nodes_1st_try_layer1 =  10
hidden_nodes_1st_try_layer2 = 20
#output_nodes_layer = 1

nn_model_1st_try = tf.keras.models.Sequential()

# First hidden layer
nn_model_1st_try.add(tf.keras.layers.Dense(input_dim=input_features, units=hidden_nodes_1st_try_layer1 , activation="tanh"))

# Second hidden layer
nn_model_1st_try.add(tf.keras.layers.Dense(units=hidden_nodes_1st_try_layer2, activation="sigmoid"))

# Output layer
nn_model_1st_try.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model_1st_try.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 10)                420

 dense_1 (Dense)             (None, 20)                220

 dense_2 (Dense)             (None, 1)                 21

=================================================================
Total params: 661 (2.58 KB)
Trainable params: 661 (2.58 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [14]:
# Compile the model 1st try!
nn_model_1st_try.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [15]:
# Train the model 1st try!
fit_model = nn_model_1st_try.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 0s 374us/step - loss: 0.5989 - accuracy: 0.7029
Epoch 2/100
804/804 [==============================] - 0s 404us/step - loss: 0.5673 - accuracy: 0.7269
Epoch 3/100
804/804 [==============================] - 0s 367us/step - loss: 0.5616 - accuracy: 0.7292
Epoch 4/100
804/804 [==============================] - 0s 365us/step - loss: 0.5584 - accuracy: 0.7304
Epoch 5/100
804/804 [==============================] - 0s 351us/step - loss: 0.5565 - accuracy: 0.7302
Epoch 6/100
804/804 [==============================] - 0s 368us/step - loss: 0.5549 - accuracy: 0.7318
Epoch 7/100
804/804 [==============================] - 0s 356us/step - loss: 0.5540 - accuracy: 0.7318
Epoch 8/100
804/804 [==============================] - 0s 355us/step - loss: 0.5529 - accuracy: 0.7321
Epoch 9/100
804/804 [==============================] - 0s 358us/step - loss: 0.5522 - accuracy: 0.7320
Epoch 10/100
804/804 [==============================] - 0s 360us/step - loss: 0.5516 - accuracy: 0.7322
Epoch 11/100
804/804 [==============================] - 0s 400us/step - loss: 0.5511 - accuracy: 0.7327
Epoch 12/100
804/804 [==============================] - 0s 351us/step - loss: 0.5506 - accuracy: 0.7331
Epoch 13/100
804/804 [==============================] - 0s 365us/step - loss: 0.5504 - accuracy: 0.7329
Epoch 14/100
804/804 [==============================] - 0s 351us/step - loss: 0.5500 - accuracy: 0.7335
Epoch 15/100
804/804 [==============================] - 0s 368us/step - loss: 0.5498 - accuracy: 0.7332
Epoch 16/100
804/804 [==============================] - 0s 365us/step - loss: 0.5494 - accuracy: 0.7337
Epoch 17/100
804/804 [==============================] - 0s 398us/step - loss: 0.5494 - accuracy: 0.7337
Epoch 18/100
804/804 [==============================] - 0s 353us/step - loss: 0.5492 - accuracy: 0.7337
Epoch 19/100
804/804 [==============================] - 0s 351us/step - loss: 0.5492 - accuracy: 0.7336
Epoch 20/100
804/804 [==============================] - 0s 369us/step - loss: 0.5489 - accuracy: 0.7335
Epoch 21/100
804/804 [==============================] - 0s 353us/step - loss: 0.5485 - accuracy: 0.7331
Epoch 22/100
804/804 [==============================] - 0s 402us/step - loss: 0.5487 - accuracy: 0.7336
Epoch 23/100
804/804 [==============================] - 0s 351us/step - loss: 0.5483 - accuracy: 0.7341
Epoch 24/100
804/804 [==============================] - 0s 374us/step - loss: 0.5482 - accuracy: 0.7329
Epoch 25/100
804/804 [==============================] - 0s 349us/step - loss: 0.5484 - accuracy: 0.7342
Epoch 26/100
804/804 [==============================] - 0s 349us/step - loss: 0.5482 - accuracy: 0.7345
Epoch 27/100
804/804 [==============================] - 0s 350us/step - loss: 0.5481 - accuracy: 0.7336
Epoch 28/100
804/804 [==============================] - 0s 371us/step - loss: 0.5481 - accuracy: 0.7348
Epoch 29/100
804/804 [==============================] - 0s 357us/step - loss: 0.5482 - accuracy: 0.7339
Epoch 30/100
804/804 [==============================] - 0s 366us/step - loss: 0.5477 - accuracy: 0.7345
Epoch 31/100
804/804 [==============================] - 0s 354us/step - loss: 0.5477 - accuracy: 0.7348
Epoch 32/100
804/804 [==============================] - 0s 368us/step - loss: 0.5476 - accuracy: 0.7342
Epoch 33/100
804/804 [==============================] - 0s 356us/step - loss: 0.5475 - accuracy: 0.7346
Epoch 34/100
804/804 [==============================] - 0s 379us/step - loss: 0.5476 - accuracy: 0.7341
Epoch 35/100
804/804 [==============================] - 0s 363us/step - loss: 0.5473 - accuracy: 0.7349
Epoch 36/100
804/804 [==============================] - 0s 355us/step - loss: 0.5472 - accuracy: 0.7346
Epoch 37/100
804/804 [==============================] - 0s 356us/step - loss: 0.5474 - accuracy: 0.7351
Epoch 38/100
804/804 [==============================] - 0s 355us/step - loss: 0.5471 - accuracy: 0.7352
Epoch 39/100
804/804 [==============================] - 0s 356us/step - loss: 0.5472 - accuracy: 0.7350
Epoch 40/100
804/804 [==============================] - 0s 354us/step - loss: 0.5473 - accuracy: 0.7351
Epoch 41/100
804/804 [==============================] - 0s 356us/step - loss: 0.5471 - accuracy: 0.7346
Epoch 42/100
804/804 [==============================] - 0s 380us/step - loss: 0.5470 - accuracy: 0.7344
Epoch 43/100
804/804 [==============================] - 0s 355us/step - loss: 0.5468 - accuracy: 0.7346
Epoch 44/100
804/804 [==============================] - 0s 356us/step - loss: 0.5468 - accuracy: 0.7352
Epoch 45/100
804/804 [==============================] - 0s 355us/step - loss: 0.5465 - accuracy: 0.7350
Epoch 46/100
804/804 [==============================] - 0s 357us/step - loss: 0.5466 - accuracy: 0.7356
Epoch 47/100
804/804 [==============================] - 0s 355us/step - loss: 0.5467 - accuracy: 0.7354
Epoch 48/100
804/804 [==============================] - 0s 356us/step - loss: 0.5466 - accuracy: 0.7349
Epoch 49/100
804/804 [==============================] - 0s 356us/step - loss: 0.5465 - accuracy: 0.7354
Epoch 50/100
804/804 [==============================] - 0s 382us/step - loss: 0.5464 - accuracy: 0.7352
Epoch 51/100
804/804 [==============================] - 0s 362us/step - loss: 0.5464 - accuracy: 0.7349
Epoch 52/100
804/804 [==============================] - 0s 354us/step - loss: 0.5460 - accuracy: 0.7351
Epoch 53/100
804/804 [==============================] - 0s 356us/step - loss: 0.5463 - accuracy: 0.7357
Epoch 54/100
804/804 [==============================] - 0s 355us/step - loss: 0.5461 - accuracy: 0.7354
Epoch 55/100
804/804 [==============================] - 0s 354us/step - loss: 0.5459 - accuracy: 0.7350
Epoch 56/100
804/804 [==============================] - 0s 355us/step - loss: 0.5460 - accuracy: 0.7357
Epoch 57/100
804/804 [==============================] - 0s 394us/step - loss: 0.5460 - accuracy: 0.7349
Epoch 58/100
804/804 [==============================] - 0s 356us/step - loss: 0.5461 - accuracy: 0.7350
Epoch 59/100
804/804 [==============================] - 0s 356us/step - loss: 0.5460 - accuracy: 0.7355
Epoch 60/100
804/804 [==============================] - 0s 355us/step - loss: 0.5458 - accuracy: 0.7346
Epoch 61/100
804/804 [==============================] - 0s 353us/step - loss: 0.5455 - accuracy: 0.7349
Epoch 62/100
804/804 [==============================] - 0s 354us/step - loss: 0.5458 - accuracy: 0.7358
Epoch 63/100
804/804 [==============================] - 0s 356us/step - loss: 0.5459 - accuracy: 0.7349
Epoch 64/100
804/804 [==============================] - 0s 365us/step - loss: 0.5457 - accuracy: 0.7350
Epoch 65/100
804/804 [==============================] - 0s 377us/step - loss: 0.5457 - accuracy: 0.7359
Epoch 66/100
804/804 [==============================] - 0s 356us/step - loss: 0.5456 - accuracy: 0.7355
Epoch 67/100
804/804 [==============================] - 0s 353us/step - loss: 0.5457 - accuracy: 0.7360
Epoch 68/100
804/804 [==============================] - 0s 355us/step - loss: 0.5454 - accuracy: 0.7354
Epoch 69/100
804/804 [==============================] - 0s 355us/step - loss: 0.5453 - accuracy: 0.7360
Epoch 70/100
804/804 [==============================] - 0s 357us/step - loss: 0.5454 - accuracy: 0.7358
Epoch 71/100
804/804 [==============================] - 0s 356us/step - loss: 0.5455 - accuracy: 0.7353
Epoch 72/100
804/804 [==============================] - 0s 379us/step - loss: 0.5455 - accuracy: 0.7356
Epoch 73/100
804/804 [==============================] - 0s 355us/step - loss: 0.5453 - accuracy: 0.7364
Epoch 74/100
804/804 [==============================] - 0s 356us/step - loss: 0.5451 - accuracy: 0.7357
Epoch 75/100
804/804 [==============================] - 0s 354us/step - loss: 0.5453 - accuracy: 0.7353
Epoch 76/100
804/804 [==============================] - 0s 356us/step - loss: 0.5453 - accuracy: 0.7360
Epoch 77/100
804/804 [==============================] - 0s 355us/step - loss: 0.5452 - accuracy: 0.7370
Epoch 78/100
804/804 [==============================] - 0s 362us/step - loss: 0.5452 - accuracy: 0.7360
Epoch 79/100
804/804 [==============================] - 0s 354us/step - loss: 0.5450 - accuracy: 0.7360
Epoch 80/100
804/804 [==============================] - 0s 378us/step - loss: 0.5450 - accuracy: 0.7364
Epoch 81/100
804/804 [==============================] - 0s 355us/step - loss: 0.5450 - accuracy: 0.7364
Epoch 82/100
804/804 [==============================] - 0s 356us/step - loss: 0.5452 - accuracy: 0.7358
Epoch 83/100
804/804 [==============================] - 0s 355us/step - loss: 0.5450 - accuracy: 0.7356
Epoch 84/100
804/804 [==============================] - 0s 356us/step - loss: 0.5448 - accuracy: 0.7359
Epoch 85/100
804/804 [==============================] - 0s 363us/step - loss: 0.5450 - accuracy: 0.7358
Epoch 86/100
804/804 [==============================] - 0s 377us/step - loss: 0.5449 - accuracy: 0.7364
Epoch 87/100
804/804 [==============================] - 0s 381us/step - loss: 0.5451 - accuracy: 0.7365
Epoch 88/100
804/804 [==============================] - 0s 354us/step - loss: 0.5449 - accuracy: 0.7362
Epoch 89/100
804/804 [==============================] - 0s 356us/step - loss: 0.5447 - accuracy: 0.7374
Epoch 90/100
804/804 [==============================] - 0s 356us/step - loss: 0.5447 - accuracy: 0.7362
Epoch 91/100
804/804 [==============================] - 0s 356us/step - loss: 0.5449 - accuracy: 0.7377
Epoch 92/100
804/804 [==============================] - 0s 363us/step - loss: 0.5449 - accuracy: 0.7365
Epoch 93/100
804/804 [==============================] - 0s 355us/step - loss: 0.5448 - accuracy: 0.7372
Epoch 94/100
804/804 [==============================] - 0s 381us/step - loss: 0.5443 - accuracy: 0.7369
Epoch 95/100
804/804 [==============================] - 0s 356us/step - loss: 0.5447 - accuracy: 0.7364
Epoch 96/100
804/804 [==============================] - 0s 356us/step - loss: 0.5446 - accuracy: 0.7373
Epoch 97/100
804/804 [==============================] - 0s 356us/step - loss: 0.5446 - accuracy: 0.7376
Epoch 98/100
804/804 [==============================] - 0s 356us/step - loss: 0.5445 - accuracy: 0.7368
Epoch 99/100
804/804 [==============================] - 0s 355us/step - loss: 0.5445 - accuracy: 0.7356
Epoch 100/100
804/804 [==============================] - 0s 355us/step - loss: 0.5444 - accuracy: 0.7376

In [16]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model_1st_try.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5564 - accuracy: 0.7236 - 128ms/epoch - 478us/step
Loss: 0.5564470291137695, Accuracy: 0.7236151695251465

In [17]:
# Export our model to HDF5 file
nn_model_1st_try.save("Resources/AlphabetSoupCharity_Optimization_1st_try.h5")

/Users/rolandabellano/anaconda3/lib/python3.11/site-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

# 1st Try Model
The optimization of the model on the 1st try did not yeild any significant difference. The accuracy is still hovering at 73% 

1st Try elements:

1. Nothing changed in the features and target
2. hidden_nodes_1st_try_layer1 =  10
3. hidden_nodes_1st_try_layer2 = 20

***

# 2nd Try

In [18]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
# 1st model: layer1 -> 10, layer2 -> 20
input_features = len(X_train_scaled[0])
hidden_nodes_2nd_try_layer1 =  50
hidden_nodes_2nd_try_layer2 = 100
output_nodes_2nd_try_layer = 1

nn_model_2nd_try = tf.keras.models.Sequential()

# First hidden layer
nn_model_2nd_try.add(tf.keras.layers.Dense(input_dim=input_features, units=hidden_nodes_2nd_try_layer1 , activation="relu"))

# Second hidden layer
nn_model_2nd_try.add(tf.keras.layers.Dense(units=hidden_nodes_2nd_try_layer2, activation="sigmoid"))

# Output layer
nn_model_2nd_try.add(tf.keras.layers.Dense(units=output_nodes_2nd_try_layer, activation="sigmoid"))

# Check the structure of the model
nn_model_2nd_try.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 50)                2100

 dense_4 (Dense)             (None, 100)               5100

 dense_5 (Dense)             (None, 1)                 101

=================================================================
Total params: 7301 (28.52 KB)
Trainable params: 7301 (28.52 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [19]:
# Compile the model 2nd try!
nn_model_2nd_try.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [20]:
# Train the model 2nd try!
fit_model = nn_model_2nd_try.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 400us/step - loss: 0.5800 - accuracy: 0.7159
Epoch 2/100
804/804 [==============================] - 0s 391us/step - loss: 0.5608 - accuracy: 0.7289
Epoch 3/100
804/804 [==============================] - 0s 414us/step - loss: 0.5575 - accuracy: 0.7289
Epoch 4/100
804/804 [==============================] - 0s 389us/step - loss: 0.5564 - accuracy: 0.7293
Epoch 5/100
804/804 [==============================] - 0s 389us/step - loss: 0.5552 - accuracy: 0.7314
Epoch 6/100
804/804 [==============================] - 0s 391us/step - loss: 0.5540 - accuracy: 0.7308
Epoch 7/100
804/804 [==============================] - 0s 391us/step - loss: 0.5540 - accuracy: 0.7313
Epoch 8/100
804/804 [==============================] - 0s 390us/step - loss: 0.5527 - accuracy: 0.7309
Epoch 9/100
804/804 [==============================] - 0s 391us/step - loss: 0.5519 - accuracy: 0.7313
Epoch 10/100
804/804 [==============================] - 0s 390us/step - loss: 0.5513 - accuracy: 0.7322
Epoch 11/100
804/804 [==============================] - 0s 389us/step - loss: 0.5510 - accuracy: 0.7319
Epoch 12/100
804/804 [==============================] - 0s 418us/step - loss: 0.5498 - accuracy: 0.7327
Epoch 13/100
804/804 [==============================] - 0s 389us/step - loss: 0.5499 - accuracy: 0.7340
Epoch 14/100
804/804 [==============================] - 0s 389us/step - loss: 0.5493 - accuracy: 0.7328
Epoch 15/100
804/804 [==============================] - 0s 390us/step - loss: 0.5492 - accuracy: 0.7345
Epoch 16/100
804/804 [==============================] - 0s 389us/step - loss: 0.5492 - accuracy: 0.7327
Epoch 17/100
804/804 [==============================] - 0s 389us/step - loss: 0.5482 - accuracy: 0.7333
Epoch 18/100
804/804 [==============================] - 0s 390us/step - loss: 0.5483 - accuracy: 0.7333
Epoch 19/100
804/804 [==============================] - 0s 413us/step - loss: 0.5477 - accuracy: 0.7343
Epoch 20/100
804/804 [==============================] - 0s 390us/step - loss: 0.5470 - accuracy: 0.7352
Epoch 21/100
804/804 [==============================] - 0s 389us/step - loss: 0.5475 - accuracy: 0.7348
Epoch 22/100
804/804 [==============================] - 0s 389us/step - loss: 0.5471 - accuracy: 0.7342
Epoch 23/100
804/804 [==============================] - 0s 390us/step - loss: 0.5474 - accuracy: 0.7352
Epoch 24/100
804/804 [==============================] - 0s 390us/step - loss: 0.5466 - accuracy: 0.7357
Epoch 25/100
804/804 [==============================] - 0s 385us/step - loss: 0.5463 - accuracy: 0.7349
Epoch 26/100
804/804 [==============================] - 0s 392us/step - loss: 0.5462 - accuracy: 0.7360
Epoch 27/100
804/804 [==============================] - 0s 416us/step - loss: 0.5463 - accuracy: 0.7360
Epoch 28/100
804/804 [==============================] - 0s 391us/step - loss: 0.5455 - accuracy: 0.7357
Epoch 29/100
804/804 [==============================] - 0s 390us/step - loss: 0.5450 - accuracy: 0.7359
Epoch 30/100
804/804 [==============================] - 0s 390us/step - loss: 0.5460 - accuracy: 0.7362
Epoch 31/100
804/804 [==============================] - 0s 392us/step - loss: 0.5450 - accuracy: 0.7363
Epoch 32/100
804/804 [==============================] - 0s 389us/step - loss: 0.5450 - accuracy: 0.7361
Epoch 33/100
804/804 [==============================] - 0s 389us/step - loss: 0.5451 - accuracy: 0.7358
Epoch 34/100
804/804 [==============================] - 0s 414us/step - loss: 0.5447 - accuracy: 0.7366
Epoch 35/100
804/804 [==============================] - 0s 389us/step - loss: 0.5448 - accuracy: 0.7365
Epoch 36/100
804/804 [==============================] - 0s 390us/step - loss: 0.5439 - accuracy: 0.7370
Epoch 37/100
804/804 [==============================] - 0s 389us/step - loss: 0.5443 - accuracy: 0.7378
Epoch 38/100
804/804 [==============================] - 0s 392us/step - loss: 0.5439 - accuracy: 0.7374
Epoch 39/100
804/804 [==============================] - 0s 389us/step - loss: 0.5437 - accuracy: 0.7372
Epoch 40/100
804/804 [==============================] - 0s 388us/step - loss: 0.5431 - accuracy: 0.7373
Epoch 41/100
804/804 [==============================] - 0s 412us/step - loss: 0.5430 - accuracy: 0.7365
Epoch 42/100
804/804 [==============================] - 0s 389us/step - loss: 0.5435 - accuracy: 0.7370
Epoch 43/100
804/804 [==============================] - 0s 388us/step - loss: 0.5432 - accuracy: 0.7368
Epoch 44/100
804/804 [==============================] - 0s 387us/step - loss: 0.5434 - accuracy: 0.7367
Epoch 45/100
804/804 [==============================] - 0s 389us/step - loss: 0.5431 - accuracy: 0.7366
Epoch 46/100
804/804 [==============================] - 0s 390us/step - loss: 0.5429 - accuracy: 0.7376
Epoch 47/100
804/804 [==============================] - 0s 390us/step - loss: 0.5426 - accuracy: 0.7373
Epoch 48/100
804/804 [==============================] - 0s 412us/step - loss: 0.5421 - accuracy: 0.7381
Epoch 49/100
804/804 [==============================] - 0s 389us/step - loss: 0.5424 - accuracy: 0.7380
Epoch 50/100
804/804 [==============================] - 0s 389us/step - loss: 0.5422 - accuracy: 0.7381
Epoch 51/100
804/804 [==============================] - 0s 388us/step - loss: 0.5420 - accuracy: 0.7388
Epoch 52/100
804/804 [==============================] - 0s 389us/step - loss: 0.5418 - accuracy: 0.7385
Epoch 53/100
804/804 [==============================] - 0s 388us/step - loss: 0.5418 - accuracy: 0.7396
Epoch 54/100
804/804 [==============================] - 0s 387us/step - loss: 0.5415 - accuracy: 0.7384
Epoch 55/100
804/804 [==============================] - 0s 390us/step - loss: 0.5418 - accuracy: 0.7388
Epoch 56/100
804/804 [==============================] - 0s 408us/step - loss: 0.5414 - accuracy: 0.7389
Epoch 57/100
804/804 [==============================] - 0s 389us/step - loss: 0.5413 - accuracy: 0.7386
Epoch 58/100
804/804 [==============================] - 0s 389us/step - loss: 0.5411 - accuracy: 0.7392
Epoch 59/100
804/804 [==============================] - 0s 391us/step - loss: 0.5409 - accuracy: 0.7390
Epoch 60/100
804/804 [==============================] - 0s 389us/step - loss: 0.5409 - accuracy: 0.7390
Epoch 61/100
804/804 [==============================] - 0s 388us/step - loss: 0.5408 - accuracy: 0.7386
Epoch 62/100
804/804 [==============================] - 0s 388us/step - loss: 0.5407 - accuracy: 0.7389
Epoch 63/100
804/804 [==============================] - 0s 414us/step - loss: 0.5405 - accuracy: 0.7396
Epoch 64/100
804/804 [==============================] - 0s 389us/step - loss: 0.5405 - accuracy: 0.7389
Epoch 65/100
804/804 [==============================] - 0s 391us/step - loss: 0.5403 - accuracy: 0.7387
Epoch 66/100
804/804 [==============================] - 0s 390us/step - loss: 0.5401 - accuracy: 0.7388
Epoch 67/100
804/804 [==============================] - 0s 389us/step - loss: 0.5403 - accuracy: 0.7387
Epoch 68/100
804/804 [==============================] - 0s 388us/step - loss: 0.5402 - accuracy: 0.7392
Epoch 69/100
804/804 [==============================] - 0s 390us/step - loss: 0.5398 - accuracy: 0.7386
Epoch 70/100
804/804 [==============================] - 0s 445us/step - loss: 0.5398 - accuracy: 0.7388
Epoch 71/100
804/804 [==============================] - 0s 389us/step - loss: 0.5399 - accuracy: 0.7395
Epoch 72/100
804/804 [==============================] - 0s 390us/step - loss: 0.5398 - accuracy: 0.7393
Epoch 73/100
804/804 [==============================] - 0s 390us/step - loss: 0.5395 - accuracy: 0.7398
Epoch 74/100
804/804 [==============================] - 0s 389us/step - loss: 0.5393 - accuracy: 0.7397
Epoch 75/100
804/804 [==============================] - 0s 386us/step - loss: 0.5393 - accuracy: 0.7402
Epoch 76/100
804/804 [==============================] - 0s 389us/step - loss: 0.5394 - accuracy: 0.7397
Epoch 77/100
804/804 [==============================] - 0s 412us/step - loss: 0.5391 - accuracy: 0.7403
Epoch 78/100
804/804 [==============================] - 0s 390us/step - loss: 0.5390 - accuracy: 0.7399
Epoch 79/100
804/804 [==============================] - 0s 390us/step - loss: 0.5388 - accuracy: 0.7402
Epoch 80/100
804/804 [==============================] - 0s 393us/step - loss: 0.5388 - accuracy: 0.7400
Epoch 81/100
804/804 [==============================] - 0s 390us/step - loss: 0.5387 - accuracy: 0.7403
Epoch 82/100
804/804 [==============================] - 0s 388us/step - loss: 0.5387 - accuracy: 0.7397
Epoch 83/100
804/804 [==============================] - 0s 390us/step - loss: 0.5386 - accuracy: 0.7402
Epoch 84/100
804/804 [==============================] - 0s 413us/step - loss: 0.5384 - accuracy: 0.7395
Epoch 85/100
804/804 [==============================] - 0s 426us/step - loss: 0.5385 - accuracy: 0.7392
Epoch 86/100
804/804 [==============================] - 0s 399us/step - loss: 0.5384 - accuracy: 0.7400
Epoch 87/100
804/804 [==============================] - 0s 391us/step - loss: 0.5381 - accuracy: 0.7402
Epoch 88/100
804/804 [==============================] - 0s 389us/step - loss: 0.5383 - accuracy: 0.7404
Epoch 89/100
804/804 [==============================] - 0s 389us/step - loss: 0.5382 - accuracy: 0.7400
Epoch 90/100
804/804 [==============================] - 0s 392us/step - loss: 0.5381 - accuracy: 0.7402
Epoch 91/100
804/804 [==============================] - 0s 415us/step - loss: 0.5380 - accuracy: 0.7404
Epoch 92/100
804/804 [==============================] - 0s 390us/step - loss: 0.5377 - accuracy: 0.7401
Epoch 93/100
804/804 [==============================] - 0s 388us/step - loss: 0.5379 - accuracy: 0.7407
Epoch 94/100
804/804 [==============================] - 0s 390us/step - loss: 0.5377 - accuracy: 0.7400
Epoch 95/100
804/804 [==============================] - 0s 389us/step - loss: 0.5376 - accuracy: 0.7403
Epoch 96/100
804/804 [==============================] - 0s 390us/step - loss: 0.5378 - accuracy: 0.7400
Epoch 97/100
804/804 [==============================] - 0s 415us/step - loss: 0.5374 - accuracy: 0.7397
Epoch 98/100
804/804 [==============================] - 0s 389us/step - loss: 0.5377 - accuracy: 0.7409
Epoch 99/100
804/804 [==============================] - 0s 389us/step - loss: 0.5373 - accuracy: 0.7394
Epoch 100/100
804/804 [==============================] - 0s 389us/step - loss: 0.5372 - accuracy: 0.7403

In [21]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model_2nd_try.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5588 - accuracy: 0.7254 - 116ms/epoch - 431us/step
Loss: 0.5588281154632568, Accuracy: 0.7253644466400146

In [22]:
# Export our model to HDF5 file
nn_model_2nd_try.save("Resources/AlphabetSoupCharity_Optimization_2nd_try.h5")

***
# 2nd Try Model

The optimization of the model on the 2nd try actually made the accuracy <b style="color:red">worse</b>. The accuracy dipped at 72%.

2nd Try elements:

1. Nothing changed in the features and target
2. hidden_nodes_2nd_try_layer1 =  50 with the activation=relu
3. hidden_nodes_2nd_try_layer2 = 100
4. output_nodes_2nd_try_layer = 1

###

***
# 3rd Model

## Let's take one column out instead of two. Let's take EIN and leave NAME alone to see if it makes a difference

In [23]:
#  Import and read the charity_data.csv
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [24]:
# Drop the non-beneficial ID columns, 'EIN'.
application_sans_EIN_df = application_df.drop(["EIN"],axis=1)

application_sans_EIN_df

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...
34294,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [25]:
# Determine the number of unique values in each column.
application_sans_EIN_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [26]:
# Count NAME instances in the column to see if there's a pattern
name_counts = application_df['NAME'].value_counts()
#  How many name counts are greater than 5?
name_counts[name_counts>5]

NAME
PARENT BOOSTER USA INC                             1260
TOPS CLUB INC                                       765
UNITED STATES BOWLING CONGRESS INC                  700
WASHINGTON STATE UNIVERSITY                         492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC     408
                                                   ...
OLD OAK CLIFF CONSERVATION LEAGUE INC                 6
AMERICAN NEPHROLOGY NURSES ASSOCIATION                6
HUMBLE ISD EDUCATIONAL SUPPORT GROUPS INC             6
PROFESSIONAL LOADMASTER ASSOCIATION                   6
CBMC INC                                              6
Name: count, Length: 354, dtype: int64

### Look at the charity NAME(s). They appear more than once!

In [27]:
# Determine which values to replace if counts are less than or equal to 5.
names_to_replace = list(name_counts[name_counts <= 20].index)

# Replace in dataframe
for name_ in names_to_replace:
    application_sans_EIN_df['NAME'] = application_sans_EIN_df['NAME'].replace(name_,"Other")
    
# Check to make sure binning was successful
application_sans_EIN_df['NAME'].value_counts()

NAME
Other                                              22469
PARENT BOOSTER USA INC                              1260
TOPS CLUB INC                                        765
UNITED STATES BOWLING CONGRESS INC                   700
WASHINGTON STATE UNIVERSITY                          492
                                                   ...
FULL GOSPEL BUSINESS MENS FELLOWSHIP IN AMERICA       21
ARIZONA FEDERATION OF GARDEN CLUBS                    21
ALPHA PHI SIGMA INC                                   21
AMERICAN IRIS SOCIETY                                 21
FRATERNAL ORDER OF POLICE                             21
Name: count, Length: 119, dtype: int64

In [28]:
# Let's big APPLICATION_TYPE
application_type_counts = application_sans_EIN_df['APPLICATION_TYPE'].value_counts()

application_type_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [29]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_type_counts[application_type_counts < 1000].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_sans_EIN_df['APPLICATION_TYPE'] = application_sans_EIN_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_sans_EIN_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: count, dtype: int64

In [30]:
application_sans_EIN_df

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,Other,Other,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,Other,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,Other,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,Other,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,Other,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...
34294,Other,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,Other,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,Other,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,Other,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [31]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_sans_EIN_df['CLASSIFICATION'].value_counts()

classification_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [32]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts[classification_counts>1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [33]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_sans_EIN_df['CLASSIFICATION'] = application_sans_EIN_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_sans_EIN_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [34]:
# Convert categorical data to numeric with `pd.get_dummies`
application_dummies_sans_EIF_df = pd.get_dummies(application_sans_EIN_df).astype(int)
application_dummies_sans_EIF_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALPHA PHI SIGMA,NAME_ALPHA PHI SIGMA INC,NAME_ALTRUSA INTERNATIONAL FOUNDATION INC,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [35]:
# Split our preprocessed data into our features and target arrays
X = application_dummies_sans_EIF_df.drop(["IS_SUCCESSFUL"], axis='columns').values
y = application_dummies_sans_EIF_df["IS_SUCCESSFUL"].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [36]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [37]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features_sans_EIN = len(X_train[0])
hidden_nodes_sans_EIN_layer1 =  100
hidden_nodes_sans_EIN_layer2 = 40
hidden_nodes_sans_EIN_layer3 = 10

nn_sans_EIN_model = tf.keras.models.Sequential()

# First hidden layer
nn_sans_EIN_model.add(
    tf.keras.layers.Dense(units=hidden_nodes_sans_EIN_layer1, input_dim=number_input_features_sans_EIN, activation="relu")
)

# Second hidden layer
nn_sans_EIN_model.add(tf.keras.layers.Dense(units=hidden_nodes_sans_EIN_layer2, activation="tanh"))

# Third hidden layer
nn_sans_EIN_model.add(tf.keras.layers.Dense(units=hidden_nodes_sans_EIN_layer3, activation="sigmoid"))

# Output layer
nn_sans_EIN_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_sans_EIN_model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 100)               16000

 dense_7 (Dense)             (None, 40)                4040

 dense_8 (Dense)             (None, 10)                410

 dense_9 (Dense)             (None, 1)                 11

=================================================================
Total params: 20461 (79.93 KB)
Trainable params: 20461 (79.93 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [38]:
# Compile the model
nn_sans_EIN_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [39]:
# Train the model
fit_model = nn_sans_EIN_model.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 457us/step - loss: 0.4969 - accuracy: 0.7610
Epoch 2/100
804/804 [==============================] - 0s 454us/step - loss: 0.4667 - accuracy: 0.7740
Epoch 3/100
804/804 [==============================] - 0s 453us/step - loss: 0.4619 - accuracy: 0.7778
Epoch 4/100
804/804 [==============================] - 0s 453us/step - loss: 0.4581 - accuracy: 0.7784
Epoch 5/100
804/804 [==============================] - 0s 453us/step - loss: 0.4560 - accuracy: 0.7788
Epoch 6/100
804/804 [==============================] - 0s 454us/step - loss: 0.4549 - accuracy: 0.7774
Epoch 7/100
804/804 [==============================] - 0s 453us/step - loss: 0.4530 - accuracy: 0.7794
Epoch 8/100
804/804 [==============================] - 0s 480us/step - loss: 0.4522 - accuracy: 0.7795
Epoch 9/100
804/804 [==============================] - 0s 454us/step - loss: 0.4515 - accuracy: 0.7810
Epoch 10/100
804/804 [==============================] - 0s 452us/step - loss: 0.4501 - accuracy: 0.7806
Epoch 11/100
804/804 [==============================] - 0s 452us/step - loss: 0.4498 - accuracy: 0.7816
Epoch 12/100
804/804 [==============================] - 0s 452us/step - loss: 0.4491 - accuracy: 0.7827
Epoch 13/100
804/804 [==============================] - 0s 453us/step - loss: 0.4482 - accuracy: 0.7826
Epoch 14/100
804/804 [==============================] - 0s 451us/step - loss: 0.4479 - accuracy: 0.7814
Epoch 15/100
804/804 [==============================] - 0s 475us/step - loss: 0.4467 - accuracy: 0.7838
Epoch 16/100
804/804 [==============================] - 0s 451us/step - loss: 0.4464 - accuracy: 0.7845
Epoch 17/100
804/804 [==============================] - 0s 451us/step - loss: 0.4461 - accuracy: 0.7844
Epoch 18/100
804/804 [==============================] - 0s 451us/step - loss: 0.4452 - accuracy: 0.7832
Epoch 19/100
804/804 [==============================] - 0s 453us/step - loss: 0.4450 - accuracy: 0.7847
Epoch 20/100
804/804 [==============================] - 0s 452us/step - loss: 0.4444 - accuracy: 0.7853
Epoch 21/100
804/804 [==============================] - 0s 450us/step - loss: 0.4442 - accuracy: 0.7849
Epoch 22/100
804/804 [==============================] - 0s 477us/step - loss: 0.4446 - accuracy: 0.7843
Epoch 23/100
804/804 [==============================] - 0s 451us/step - loss: 0.4433 - accuracy: 0.7849
Epoch 24/100
804/804 [==============================] - 0s 448us/step - loss: 0.4435 - accuracy: 0.7846
Epoch 25/100
804/804 [==============================] - 0s 451us/step - loss: 0.4430 - accuracy: 0.7855
Epoch 26/100
804/804 [==============================] - 0s 452us/step - loss: 0.4424 - accuracy: 0.7852
Epoch 27/100
804/804 [==============================] - 0s 453us/step - loss: 0.4421 - accuracy: 0.7858
Epoch 28/100
804/804 [==============================] - 0s 477us/step - loss: 0.4418 - accuracy: 0.7860
Epoch 29/100
804/804 [==============================] - 0s 453us/step - loss: 0.4415 - accuracy: 0.7860
Epoch 30/100
804/804 [==============================] - 0s 452us/step - loss: 0.4414 - accuracy: 0.7855
Epoch 31/100
804/804 [==============================] - 0s 452us/step - loss: 0.4413 - accuracy: 0.7856
Epoch 32/100
804/804 [==============================] - 0s 453us/step - loss: 0.4409 - accuracy: 0.7869
Epoch 33/100
804/804 [==============================] - 0s 453us/step - loss: 0.4404 - accuracy: 0.7865
Epoch 34/100
804/804 [==============================] - 0s 476us/step - loss: 0.4404 - accuracy: 0.7865
Epoch 35/100
804/804 [==============================] - 0s 451us/step - loss: 0.4400 - accuracy: 0.7866
Epoch 36/100
804/804 [==============================] - 0s 454us/step - loss: 0.4399 - accuracy: 0.7868
Epoch 37/100
804/804 [==============================] - 0s 453us/step - loss: 0.4399 - accuracy: 0.7879
Epoch 38/100
804/804 [==============================] - 0s 451us/step - loss: 0.4396 - accuracy: 0.7871
Epoch 39/100
804/804 [==============================] - 0s 453us/step - loss: 0.4394 - accuracy: 0.7868
Epoch 40/100
804/804 [==============================] - 0s 452us/step - loss: 0.4398 - accuracy: 0.7872
Epoch 41/100
804/804 [==============================] - 0s 476us/step - loss: 0.4395 - accuracy: 0.7869
Epoch 42/100
804/804 [==============================] - 0s 452us/step - loss: 0.4390 - accuracy: 0.7873
Epoch 43/100
804/804 [==============================] - 0s 451us/step - loss: 0.4388 - accuracy: 0.7884
Epoch 44/100
804/804 [==============================] - 0s 451us/step - loss: 0.4391 - accuracy: 0.7875
Epoch 45/100
804/804 [==============================] - 0s 450us/step - loss: 0.4389 - accuracy: 0.7877
Epoch 46/100
804/804 [==============================] - 0s 450us/step - loss: 0.4387 - accuracy: 0.7877
Epoch 47/100
804/804 [==============================] - 0s 475us/step - loss: 0.4389 - accuracy: 0.7879
Epoch 48/100
804/804 [==============================] - 0s 452us/step - loss: 0.4384 - accuracy: 0.7878
Epoch 49/100
804/804 [==============================] - 0s 451us/step - loss: 0.4381 - accuracy: 0.7872
Epoch 50/100
804/804 [==============================] - 0s 451us/step - loss: 0.4381 - accuracy: 0.7883
Epoch 51/100
804/804 [==============================] - 0s 459us/step - loss: 0.4383 - accuracy: 0.7874
Epoch 52/100
804/804 [==============================] - 0s 453us/step - loss: 0.4376 - accuracy: 0.7881
Epoch 53/100
804/804 [==============================] - 0s 451us/step - loss: 0.4376 - accuracy: 0.7880
Epoch 54/100
804/804 [==============================] - 0s 476us/step - loss: 0.4374 - accuracy: 0.7895
Epoch 55/100
804/804 [==============================] - 0s 452us/step - loss: 0.4378 - accuracy: 0.7880
Epoch 56/100
804/804 [==============================] - 0s 454us/step - loss: 0.4374 - accuracy: 0.7879
Epoch 57/100
804/804 [==============================] - 0s 452us/step - loss: 0.4377 - accuracy: 0.7891
Epoch 58/100
804/804 [==============================] - 0s 454us/step - loss: 0.4380 - accuracy: 0.7881
Epoch 59/100
804/804 [==============================] - 0s 452us/step - loss: 0.4375 - accuracy: 0.7886
Epoch 60/100
804/804 [==============================] - 0s 453us/step - loss: 0.4376 - accuracy: 0.7888
Epoch 61/100
804/804 [==============================] - 0s 473us/step - loss: 0.4373 - accuracy: 0.7879
Epoch 62/100
804/804 [==============================] - 0s 452us/step - loss: 0.4375 - accuracy: 0.7886
Epoch 63/100
804/804 [==============================] - 0s 452us/step - loss: 0.4369 - accuracy: 0.7891
Epoch 64/100
804/804 [==============================] - 0s 452us/step - loss: 0.4368 - accuracy: 0.7883
Epoch 65/100
804/804 [==============================] - 0s 451us/step - loss: 0.4366 - accuracy: 0.7888
Epoch 66/100
804/804 [==============================] - 0s 452us/step - loss: 0.4368 - accuracy: 0.7885
Epoch 67/100
804/804 [==============================] - 0s 477us/step - loss: 0.4370 - accuracy: 0.7879
Epoch 68/100
804/804 [==============================] - 0s 450us/step - loss: 0.4368 - accuracy: 0.7889
Epoch 69/100
804/804 [==============================] - 0s 450us/step - loss: 0.4369 - accuracy: 0.7887
Epoch 70/100
804/804 [==============================] - 0s 451us/step - loss: 0.4369 - accuracy: 0.7887
Epoch 71/100
804/804 [==============================] - 0s 449us/step - loss: 0.4370 - accuracy: 0.7888
Epoch 72/100
804/804 [==============================] - 0s 448us/step - loss: 0.4367 - accuracy: 0.7888
Epoch 73/100
804/804 [==============================] - 0s 474us/step - loss: 0.4365 - accuracy: 0.7890
Epoch 74/100
804/804 [==============================] - 0s 453us/step - loss: 0.4368 - accuracy: 0.7885
Epoch 75/100
804/804 [==============================] - 0s 437us/step - loss: 0.4366 - accuracy: 0.7890
Epoch 76/100
804/804 [==============================] - 0s 451us/step - loss: 0.4370 - accuracy: 0.7897
Epoch 77/100
804/804 [==============================] - 0s 453us/step - loss: 0.4362 - accuracy: 0.7894
Epoch 78/100
804/804 [==============================] - 0s 451us/step - loss: 0.4362 - accuracy: 0.7894
Epoch 79/100
804/804 [==============================] - 0s 476us/step - loss: 0.4363 - accuracy: 0.7896
Epoch 80/100
804/804 [==============================] - 0s 454us/step - loss: 0.4365 - accuracy: 0.7891
Epoch 81/100
804/804 [==============================] - 0s 452us/step - loss: 0.4365 - accuracy: 0.7886
Epoch 82/100
804/804 [==============================] - 0s 451us/step - loss: 0.4366 - accuracy: 0.7892
Epoch 83/100
804/804 [==============================] - 0s 453us/step - loss: 0.4358 - accuracy: 0.7891
Epoch 84/100
804/804 [==============================] - 0s 450us/step - loss: 0.4365 - accuracy: 0.7893
Epoch 85/100
804/804 [==============================] - 0s 477us/step - loss: 0.4360 - accuracy: 0.7895
Epoch 86/100
804/804 [==============================] - 0s 453us/step - loss: 0.4360 - accuracy: 0.7892
Epoch 87/100
804/804 [==============================] - 0s 454us/step - loss: 0.4367 - accuracy: 0.7893
Epoch 88/100
804/804 [==============================] - 0s 452us/step - loss: 0.4367 - accuracy: 0.7889
Epoch 89/100
804/804 [==============================] - 0s 453us/step - loss: 0.4366 - accuracy: 0.7891
Epoch 90/100
804/804 [==============================] - 0s 454us/step - loss: 0.4364 - accuracy: 0.7895
Epoch 91/100
804/804 [==============================] - 0s 452us/step - loss: 0.4361 - accuracy: 0.7896
Epoch 92/100
804/804 [==============================] - 0s 476us/step - loss: 0.4365 - accuracy: 0.7897
Epoch 93/100
804/804 [==============================] - 0s 452us/step - loss: 0.4362 - accuracy: 0.7895
Epoch 94/100
804/804 [==============================] - 0s 451us/step - loss: 0.4358 - accuracy: 0.7896
Epoch 95/100
804/804 [==============================] - 0s 453us/step - loss: 0.4362 - accuracy: 0.7885
Epoch 96/100
804/804 [==============================] - 0s 449us/step - loss: 0.4362 - accuracy: 0.7888
Epoch 97/100
804/804 [==============================] - 0s 453us/step - loss: 0.4362 - accuracy: 0.7886
Epoch 98/100
804/804 [==============================] - 0s 478us/step - loss: 0.4364 - accuracy: 0.7884
Epoch 99/100
804/804 [==============================] - 0s 453us/step - loss: 0.4363 - accuracy: 0.7888
Epoch 100/100
804/804 [==============================] - 0s 453us/step - loss: 0.4364 - accuracy: 0.7888

## Looks promising

In [40]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_sans_EIN_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4668 - accuracy: 0.7725 - 118ms/epoch - 440us/step
Loss: 0.4668086767196655, Accuracy: 0.7724781632423401

In [41]:
# Export our model to HDF5 file
nn_sans_EIN_model.save("Resources/AlphabetSoupCharity_Optimization_3rd_try.h5")

/Users/rolandabellano/anaconda3/lib/python3.11/site-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

***
# Conclusion

Overall, by optimizing the model we are able to increase the accuracy to 77.25%. 

This means we are able to correctly classify each of the points in the test data 77.25% of the time. In other words an applicant has a close to 80% chance of being successful if they have the following:

- The NAME of the applicant appears more than <b>20 times (they have applied more than 20 times)</b>
- The type of APPLICATION is one of the following: <b>T3, T4, T5, T6, and surprisingly, T19!</b>
- The application has the following values for CLASSIFICATION: C1000, C1200, C2000,C2100, C3000, and C7000.

-----
#### Alternative Model
An alternative model to recommend is the Random Forest model as it is suited for classification problems. As can be seen below, using the Random Forest model we can achieve SLIGHTLY above 75% accuracy.

In [42]:
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

In [43]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=150, random_state=75) 

# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

# Evaluate the model
y_pred = rf_model.predict(X_test_scaled)
print(f" Random forest model accuracy: {accuracy_score(y_test,y_pred):.3f}")

 Random forest model accuracy: 0.759